body{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

textarea{
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
}

button{
    border: 0.5px solid black;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
}

.result {
    margin-top: 20px;
    max-width: 80%;
}


@media (min-width: 769px){
    textarea{
        width: 60%;
    }
}